################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

alphasocbeat:
  # Defines how often an event is sent to the output
  registry_file: checkpoint.yaml
  api_url: https://api.alphasoc.net/v1/alerts
  api_key: <api_key>

setup.dashboards.enabled: true
setup.dashboards.directory: _meta/kibana.generated